<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<!-- 
    IMPORTANT: Running test METHODS in parallel with Selenium causes issues
    because they all try to login at the same time, resulting in duplicate entries.
    
    SOLUTION: Run tests SEQUENTIALLY (parallel="false") OR use parallel="tests" with multiple test blocks.
    
    Current configuration: parallel="false" - Recommended for Selenium tests
-->
<suite name="Selenium Framework Suite" parallel="false">
  <listeners>
    <listener class-name="seleniumcode.com.learn.seleniumframework.listeners.ExtentTestListener" />
  </listeners>
  <test name="Landing Page Tests">
    <classes>
      <class name="seleniumcode.com.learn.seleniumframework.LandingpageBase" />
    </classes>
  </test>
</suite>
